@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.calendariojoto html { height: 100%; }
.calendariojoto *, 
.calendariojoto *:after, 
.calendariojoto *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.calendariojoto .clearfix:before,
.calendariojoto .clearfix:after {
  content: " ";
  display: table;
}

.calendariojoto .clearfix:after { clear: both; }

.calendariojoto body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: transparent;
  font-weight: 400;
  font-size: 15px;
  color: #333;
}

.calendariojoto a {
  color: #555;
  text-decoration: none;
}

.calendariojoto header {
  padding: 30px;
  text-align: center;
}

.calendariojoto header h1 {
  font-size: 34px;
  line-height: 38px;
  margin: 0;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.calendariojoto header h1 span {
  font-size: 18px;
  font-weight: 300;
  display: block;
}

.calendariojoto section {
  width: 100%;
  height: 100%;
  position: relative;
}

.calendariojoto section, 
.calendariojoto .main {
  border-radius: 8px;
  padding: 0 5px 50px 5px;
  width: 100%;
  margin: 0 auto;
  max-width: 660px;
}

.calendariojoto .fc-calendar-container {
  position: relative;
  height: 400px;
  width: 400px;
}

.calendariojoto .fc-calendar {
  width: 100%;
  height: 100%;
}

.calendariojoto .fc-head {
  height: 30px;
  line-height: 30px;
  background: #ccc;
  color: #fff;
}

.calendariojoto .fc-body {
  position: relative;
  width: 100%;
  height: calc(100% - 30px);
  border: 1px solid #ddd;
}

.calendariojoto .fc-row {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.calendariojoto .fc-four-rows .fc-row { height: 25%; }
.calendariojoto .fc-five-rows .fc-row { height: 20%; }
.calendariojoto .fc-six-rows .fc-row { height: calc(100% / 6); }

.calendariojoto .fc-row > div, 
.calendariojoto .fc-head > div {
  float: left;
  height: 100%;
  width: calc(100% / 7);
  position: relative;
}

.calendariojoto .fc-row > div {
  border-right: 1px solid #ddd;
  padding: 4px;
  overflow: hidden;
  position: relative;
}

.calendariojoto .fc-head > div {
  text-align: center;
}

.calendariojoto .fc-date {
  position: absolute;
  width: 30px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #ddd;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.calendariojoto .fc-today {
  background: #fff4c3;
}

.calendariojoto .fc-out { opacity: 0.6; }

.calendariojoto .fc-row:last-child,
.calendariojoto .fc-row > div:last-child,
.calendariojoto .fc-head > div:last-child {
  border-right: none;
  border-bottom: none;
}

.calendariojoto .custom-calendar-wrap {
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}

.calendariojoto .custom-inner {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  overflow: hidden;
}

.calendariojoto .custom-inner:before,
.calendariojoto .custom-inner:after {
  content: '';
  width: 99%;
  height: 50%;
  position: absolute;
  background: #f6f6f6;
  bottom: -4px;
  left: 0.5%;
  z-index: -1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.calendariojoto .custom-inner:after {
  width: 98%;
  bottom: -7px;
  left: 1%;
  z-index: -2;
}

.calendariojoto .custom-header {
  background: #ff5bad;
  padding: 5px 10px 10px 20px;
  height: 70px;
  position: relative;
  border-top: 5px solid #ff5bad;
  border-bottom: 1px solid #ddd;
}

.calendariojoto .custom-header h2,
.calendariojoto .custom-header h3 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.calendariojoto .custom-header h2 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

.calendariojoto .custom-header h3 {
  font-size: 10px;
  font-weight: 700;
}

.calendariojoto .custom-header nav span {
  position: absolute;
  top: 17px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  color: transparent;
}

.calendariojoto .custom-header nav span:first-child { left: 5px; }
.calendariojoto .custom-header nav span:last-child { right: 5px; }

.calendariojoto .custom-header nav span:before {
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
}

.calendariojoto .custom-prev:before { content: '\25c2'; }
.calendariojoto .custom-next:before { content: '\25b8'; }

.calendariojoto .custom-header nav span:hover:before { color: #495468; }

.calendariojoto .fc-calendar-container {
  height: 400px;
  width: auto;
  padding: 30px;
  background: #f4fdff;
  box-shadow: inset 0 1px rgba(255,255,255,0.8);
}

.calendariojoto .fc-head {
  background: transparent;
  color: #ff5bad;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.calendariojoto .fc-row > div {
  background: #fff;
  cursor: pointer;
}

.calendariojoto .fc-row > div:empty {
  background: transparent;
}

.calendariojoto .fc-date {
  top: 50%;
  left: 50%;
  text-align: center;
  margin: -10px 0 0 -15px;
  color: #000000;
  font-weight: 400;
  pointer-events: none;
}

.calendariojoto .fc-calendar .fc-row > div.fc-today {
  background-color: #ff5bad !important;
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Ajustar el número del día actual */
.calendariojoto .fc-calendar .fc-row > div.fc-today > span.fc-date {
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


.calendariojoto .fc-content:after {
  content: '\00B7';
  text-align: center;
  width: 20px;
  margin-left: -10px;
  position: absolute;
  color: #ececec;
  font-size: 70px;
  line-height: 20px;
  left: 50%;
  bottom: 3px;
}

.calendariojoto .fc-today.fc-content:after { color: #b02c42; }
.calendariojoto .fc-content:hover:after { color: #ef4f69; }
.calendariojoto .fc-today.fc-content:hover:after { color: #fff; }

@media screen and (max-width: 400px) {
  .calendariojoto .fc-calendar-container { height: 300px; }
  .calendariojoto .fc-date { font-size: 15px; }
}

/* Ajustar la posición del modal para compensar la sidebar */
#modalEvento .modal-dialog {
  position: fixed;
  left: calc(230px + (100vw - 230px) / 2);
  top: 35%;
  transform: translate(-50%, -50%);
}

/* Ajustar telefono */
@media (max-width: 768px) {
  #modalEvento .modal-dialog {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
