body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

#wrapper {
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
   background-color: #f82061; 
}

#page-content {
  margin-left: 250px;
  background-color: #fff;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  transition: all 0.3s;
}

.btn {
  border-radius: 10px;
}

.boton_datos{
   background-color: green; 
}

.fc-event {
      cursor: pointer !important;
}

.mini-alert {
  position: fixed;
  padding: 15px 25px;
  background: #f369ff;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 10px #0004;
  z-index: 99999;
  opacity: 0;
  transition: all .4s ease;
}

.center-alert {
  left: calc(230px + (100vw - 230px) / 2);
  top: 35%;
  transform: translate(-50%, -50%);
}

.center-alert.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

